org.everit.osgi.jdbc.commons.dbcp.ManagedDataSource.a2f602ed-c672-455b-be3f-651931dede4d="reference:file:lib/org.everit.osgi.jdbc.commons.dbcp-2.0.1.jar"
org.everit.osgi.authorization.ri.tests.AuthorizationTest.e5f11687-fd12-4327-ab9d-b3fce3def16d="reference:file:lib/org.everit.osgi.authorization.ri.tests-1.0.0-SNAPSHOT.jar"
org.everit.osgi.querydsl.templates.AutoSQLTemplates.36c90adf-8fbf-4ae9-ac9d-97b2c79e1a99="reference:file:lib/org.everit.osgi.querydsl.templates-1.0.1.jar"
org.everit.osgi.jdbc.commons.dbcp.ManagedDataSource.e7526f1e-d3b2-4111-9bb6-2dc3891d54cd="reference:file:lib/org.everit.osgi.jdbc.commons.dbcp-2.0.1.jar"
org.everit.osgi.resource.ri.Resource.276035f8-c74c-43b6-a365-03b28a9759aa="reference:file:lib/org.everit.osgi.resource.ri-1.0.0.jar"
org.everit.osgi.querydsl.templates.AutoSQLTemplates.91ec31f2-3dd4-4a9f-a209-8d044d27b766="reference:file:lib/org.everit.osgi.querydsl.templates-1.0.1.jar"
org.everit.osgi.liquibase.datasource.LiquibaseDataSourceComponent.9ed693f6-ee9f-48aa-90fe-97d325878930="reference:file:lib/org.everit.osgi.liquibase.datasource-1.0.1.jar"
org.everit.osgi.jdbc.dsf.XADataSource.7e0277d8-bd73-45df-a525-3178628ca140="reference:file:lib/org.everit.osgi.jdbc.dsf-2.0.0.jar"
org.everit.osgi.querydsl.support.QuerydslSupport.4fd4ea4a-166c-44eb-994c-9dd5ea2a0e37="reference:file:lib/org.everit.osgi.querydsl.support-1.0.0.jar"
org.everit.osgi.jdbc.dsf.XADataSource.52d22e8b-74c7-4d15-b80b-4d07040d256b="reference:file:lib/org.everit.osgi.jdbc.dsf-2.0.0.jar"
org.everit.osgi.querydsl.configuration.QuerydslConfiguration.65bfbfa5-dfc7-458e-9d52-f4f6a1aae4c9="reference:file:lib/org.everit.osgi.querydsl.configuration-1.0.0.jar"
org.everit.osgi.props.ri.PropertyManager.0b7dbf79-87a9-437e-81e1-00b3575b71e1="reference:file:lib/org.everit.osgi.props.ri-1.0.0.jar"
org.everit.osgi.props.ri.PropertyManager.0a186cbd-7779-48ff-ac4b-62d01afc76a7="reference:file:lib/org.everit.osgi.props.ri-1.0.0.jar"
org.everit.osgi.authorization.ri.Authorization.5c170735-abd7-4269-a5b2-9862cfc45185="reference:file:lib/org.everit.osgi.authorization.ri-1.0.0-SNAPSHOT.jar"
org.everit.osgi.liquibase.datasource.LiquibaseDataSourceComponent.b3713417-a634-4f72-bf5a-53ce21134632="reference:file:lib/org.everit.osgi.liquibase.datasource-1.0.1.jar"
org.everit.osgi.querydsl.support.QuerydslSupport.e878e3d2-2e21-49bf-82eb-234509b1f092="reference:file:lib/org.everit.osgi.querydsl.support-1.0.0.jar"
org.everit.osgi.jdbc.dsf.XADataSource.42ae538c-2ff2-4bf7-b881-fe3ef8ec2c1e="reference:file:lib/org.everit.osgi.jdbc.dsf-2.0.0.jar"
org.everit.osgi.querydsl.configuration.QuerydslConfiguration.c76b90f2-a357-425e-81a1-f18f12d0a7df="reference:file:lib/org.everit.osgi.querydsl.configuration-1.0.0.jar"
org.everit.osgi.resource.ri.Resource.83025516-1757-47a5-b092-27a767fb5ce0="reference:file:lib/org.everit.osgi.resource.ri-1.0.0.jar"
org.everit.osgi.jdbc.commons.dbcp.ManagedDataSource.97f96535-6f6d-4675-94a4-e31a8be6be3e="reference:file:lib/org.everit.osgi.jdbc.commons.dbcp-2.0.1.jar"
org.everit.osgi.authorization.ri.Authorization.f9cd29f8-f75a-48a7-b5cd-dbd58c60adc7="reference:file:lib/org.everit.osgi.authorization.ri-1.0.0-SNAPSHOT.jar"
org.everit.osgi.authorization.ri.Authorization.b92a8624-d7b1-491c-a933-6cb727db50f8="reference:file:lib/org.everit.osgi.authorization.ri-1.0.0-SNAPSHOT.jar"
org.everit.osgi.querydsl.configuration.QuerydslConfiguration.674ad70e-9bee-4836-a063-d4d9867f8947="reference:file:lib/org.everit.osgi.querydsl.configuration-1.0.0.jar"
org.everit.osgi.querydsl.templates.AutoSQLTemplates.44713934-3ee4-41d3-a54a-6ab62d49e4a8="reference:file:lib/org.everit.osgi.querydsl.templates-1.0.1.jar"
org.everit.osgi.liquibase.datasource.LiquibaseDataSourceComponent.25f848aa-f3ff-42f3-a4ff-16158b5c8bc5="reference:file:lib/org.everit.osgi.liquibase.datasource-1.0.1.jar"
org.everit.osgi.authorization.ri.tests.AuthorizationTest.381b9559-3f9c-4cb4-b125-ddc4620af640="reference:file:lib/org.everit.osgi.authorization.ri.tests-1.0.0-SNAPSHOT.jar"
org.everit.osgi.resource.ri.Resource.8ce265ef-9e06-4961-a695-54386cc3ba85="reference:file:lib/org.everit.osgi.resource.ri-1.0.0.jar"
org.everit.osgi.props.ri.PropertyManager.ffc3fdf8-5e8a-4030-9871-f42b246f1c68="reference:file:lib/org.everit.osgi.props.ri-1.0.0.jar"
org.everit.osgi.querydsl.support.QuerydslSupport.250739b0-8625-4f30-be83-837e77676b0a="reference:file:lib/org.everit.osgi.querydsl.support-1.0.0.jar"
org.everit.osgi.authorization.ri.tests.AuthorizationTest.14e1d209-554d-4a34-b62d-aa73b407fb5a="reference:file:lib/org.everit.osgi.authorization.ri.tests-1.0.0-SNAPSHOT.jar"
org.everit.osgi.cache.lru.LruCache.fe86b463-5bce-4f6a-be8a-f6c5a0179b19="reference:file:/D:/dev/projects/git/cache-lru/target/classes/"
org.everit.osgi.cache.lru.LruCache.94c6fbb6-77f8-4fdd-9c81-a697cbe68cce="reference:file:/D:/dev/projects/git/cache-lru/target/classes/"
