defaultCatalog=""
softMinEvictableIdleTimeMillis=L"-1"
cacheState=B"true"
testOnCreate=B"false"
rollbackOnReturn=B"true"
removeAbandonedTimeout=I"300"
transactionManager.target=""
testOnBorrow=B"true"
enableAutoCommitOnReturn=B"true"
maxConnLifetimeMillis=L"-1"
service.factoryPid="org.everit.osgi.jdbc.commons.dbcp.ManagedDataSource"
maxTotal=I"8"
service.pid="org.everit.osgi.jdbc.commons.dbcp.ManagedDataSource.97f96535-6f6d-4675-94a4-e31a8be6be3e"
minEvictableIdleTimeMillis=L"1800000"
accessToUnderlyingConnectionAllowed=B"false"
removeAbandonedOnBorrow=B"false"
testWhileIdle=B"false"
initialSize=I"0"
validationQueryTimeout=I"-1"
maxWaitMillis=L"-1"
abandonedUsageTracking=B"false"
logAbandoned=B"false"
maxOpenPreparedStatements=I"8"
minIdle=I"0"
defaultAutoCommit="default"
validationQuery=""
poolPreparedStatements=B"false"
defaultReadOnly="default"
maxIdle=I"8"
lifo=B"true"
numTestsPerEvictionRun=I"3"
testOnReturn=B"false"
timeBetweenEvictionRunsMillis=L"-1"
connectionInitSqls=("")
defaultTransactionIsolation="readCommited"
xaDataSource.target="(service.pid\=org.everit.osgi.jdbc.dsf.XADataSource.7e0277d8-bd73-45df-a525-3178628ca140)"
removeAbandonedOnMaintenance=B"false"
jmxName=""
