factory.pid="org.everit.osgi.jdbc.commons.dbcp.ManagedDataSource"
factory.pidList=["org.everit.osgi.jdbc.commons.dbcp.ManagedDataSource.97f96535-6f6d-4675-94a4-e31a8be6be3e","org.everit.osgi.jdbc.commons.dbcp.ManagedDataSource.a2f602ed-c672-455b-be3f-651931dede4d","org.everit.osgi.jdbc.commons.dbcp.ManagedDataSource.e7526f1e-d3b2-4111-9bb6-2dc3891d54cd"]
