service.pid="org.everit.osgi.props.ri.PropertyManager.0a186cbd-7779-48ff-ac4b-62d01afc76a7"
service.description="Default\ Property\ Manager"
transactionHelper.target=""
cache.target="(cache.driver.name\=noop)"
service.factoryPid="org.everit.osgi.props.ri.PropertyManager"
querydslSupport.target="(service.pid\=org.everit.osgi.querydsl.support.QuerydslSupport.250739b0-8625-4f30-be83-837e77676b0a)"
