resourceService.target="(service.pid\=org.everit.osgi.resource.ri.Resource.8ce265ef-9e06-4961-a695-54386cc3ba85)"
permissionCache.target="(service.description\=pCache)"
permissionInheritanceCache.target="(service.description\=piCache)"
service.factoryPid="org.everit.osgi.authorization.ri.Authorization"
propertyManager.target="(service.pid\=org.everit.osgi.props.ri.PropertyManager.ffc3fdf8-5e8a-4030-9871-f42b246f1c68)"
service.pid="org.everit.osgi.authorization.ri.Authorization.f9cd29f8-f75a-48a7-b5cd-dbd58c60adc7"
transactionHelper.target=""
querydslSupport.target="(service.pid\=org.everit.osgi.querydsl.support.QuerydslSupport.e878e3d2-2e21-49bf-82eb-234509b1f092)"
