factory.pid="org.everit.osgi.querydsl.support.QuerydslSupport"
factory.pidList=["org.everit.osgi.querydsl.support.QuerydslSupport.e878e3d2-2e21-49bf-82eb-234509b1f092","org.everit.osgi.querydsl.support.QuerydslSupport.250739b0-8625-4f30-be83-837e77676b0a","org.everit.osgi.querydsl.support.QuerydslSupport.4fd4ea4a-166c-44eb-994c-9dd5ea2a0e37"]
