service.pid="org.everit.osgi.querydsl.templates.AutoSQLTemplates.91ec31f2-3dd4-4a9f-a209-8d044d27b766"
quote=B"true"
logService.target=""
newLineToSingleSpace=B"false"
printSchema=B"false"
escape=C"\\"
service.factoryPid="org.everit.osgi.querydsl.templates.AutoSQLTemplates"
dataSource.target="(service.pid\=org.everit.osgi.liquibase.datasource.LiquibaseDataSourceComponent.25f848aa-f3ff-42f3-a4ff-16158b5c8bc5)"
