service.pid="org.everit.osgi.querydsl.templates.AutoSQLTemplates.36c90adf-8fbf-4ae9-ac9d-97b2c79e1a99"
quote=B"true"
logService.target=""
newLineToSingleSpace=B"false"
printSchema=B"false"
escape=C"\\"
service.factoryPid="org.everit.osgi.querydsl.templates.AutoSQLTemplates"
dataSource.target="(service.pid\=org.everit.osgi.liquibase.datasource.LiquibaseDataSourceComponent.b3713417-a634-4f72-bf5a-53ce21134632)"
