networkProtocol=""
serverName=""
customProperties=[""]
url=""
dataSourceFactory.target="(osgi.jdbc.driver.name\=mysql)"
service.factoryPid="org.everit.osgi.jdbc.dsf.XADataSource"
roleName=""
logService.target=""
minPoolSize=""
dataSourceName=""
propertyCycle=""
maxPoolSize=""
service.pid="org.everit.osgi.jdbc.dsf.XADataSource.7e0277d8-bd73-45df-a525-3178628ca140"
databaseName="test_db"
maxIdleTime=""
portNumber=""
description=""
initialPoolSize=""
maxStatements=""
loginTimeout=I"0"
user="travis"
