factory.pid="org.everit.osgi.jdbc.dsf.XADataSource"
factory.pidList=["org.everit.osgi.jdbc.dsf.XADataSource.52d22e8b-74c7-4d15-b80b-4d07040d256b","org.everit.osgi.jdbc.dsf.XADataSource.7e0277d8-bd73-45df-a525-3178628ca140","org.everit.osgi.jdbc.dsf.XADataSource.42ae538c-2ff2-4bf7-b881-fe3ef8ec2c1e"]
