factory.pid="org.everit.osgi.props.ri.PropertyManager"
factory.pidList=["org.everit.osgi.props.ri.PropertyManager.0b7dbf79-87a9-437e-81e1-00b3575b71e1","org.everit.osgi.props.ri.PropertyManager.ffc3fdf8-5e8a-4030-9871-f42b246f1c68","org.everit.osgi.props.ri.PropertyManager.0a186cbd-7779-48ff-ac4b-62d01afc76a7"]
