service.pid="org.everit.osgi.props.ri.PropertyManager.ffc3fdf8-5e8a-4030-9871-f42b246f1c68"
service.description="Default\ Property\ Manager"
transactionHelper.target=""
cache.target="(cache.driver.name\=noop)"
service.factoryPid="org.everit.osgi.props.ri.PropertyManager"
querydslSupport.target="(service.pid\=org.everit.osgi.querydsl.support.QuerydslSupport.e878e3d2-2e21-49bf-82eb-234509b1f092)"
