service.pid="org.everit.osgi.querydsl.configuration.QuerydslConfiguration.65bfbfa5-dfc7-458e-9d52-f4f6a1aae4c9"
sqlTemplates.target="(service.pid\=org.everit.osgi.querydsl.templates.AutoSQLTemplates.36c90adf-8fbf-4ae9-ac9d-97b2c79e1a99)"
useLiterals=B"false"
service.factoryPid="org.everit.osgi.querydsl.configuration.QuerydslConfiguration"
