service.pid="org.everit.osgi.querydsl.configuration.QuerydslConfiguration.c76b90f2-a357-425e-81a1-f18f12d0a7df"
sqlTemplates.target="(service.pid\=org.everit.osgi.querydsl.templates.AutoSQLTemplates.44713934-3ee4-41d3-a54a-6ab62d49e4a8)"
useLiterals=B"false"
service.factoryPid="org.everit.osgi.querydsl.configuration.QuerydslConfiguration"
