service.pid="org.everit.osgi.liquibase.datasource.LiquibaseDataSourceComponent.b3713417-a634-4f72-bf5a-53ce21134632"
logService.target=""
schemaExpression="org.everit.osgi.authorization.ri"
service.factoryPid="org.everit.osgi.liquibase.datasource.LiquibaseDataSourceComponent"
embeddedDataSource.target="(service.pid\=org.everit.osgi.jdbc.commons.dbcp.ManagedDataSource.e7526f1e-d3b2-4111-9bb6-2dc3891d54cd)"
liquibaseService.target=""
