resourceService.target="(service.pid\=org.everit.osgi.resource.ri.Resource.83025516-1757-47a5-b092-27a767fb5ce0)"
authorizationManager.target="(service.pid\=org.everit.osgi.authorization.ri.Authorization.b92a8624-d7b1-491c-a933-6cb727db50f8)"
service.factoryPid="org.everit.osgi.authorization.ri.tests.AuthorizationTest"
eosgi.testEngine="junit4"
eosgi.testId="AuthorizationTest_H2"
permissionChecker.target="(service.pid\=org.everit.osgi.authorization.ri.Authorization.b92a8624-d7b1-491c-a933-6cb727db50f8)"
logService.target=""
service.pid="org.everit.osgi.authorization.ri.tests.AuthorizationTest.381b9559-3f9c-4cb4-b125-ddc4620af640"
authorizationQdslUtil.target="(service.pid\=org.everit.osgi.authorization.ri.Authorization.b92a8624-d7b1-491c-a933-6cb727db50f8)"
querydslSupport.target="(service.pid\=org.everit.osgi.querydsl.support.QuerydslSupport.250739b0-8625-4f30-be83-837e77676b0a)"
