factory.pid="org.everit.osgi.authorization.ri.tests.AuthorizationTest"
factory.pidList=["org.everit.osgi.authorization.ri.tests.AuthorizationTest.14e1d209-554d-4a34-b62d-aa73b407fb5a","org.everit.osgi.authorization.ri.tests.AuthorizationTest.381b9559-3f9c-4cb4-b125-ddc4620af640","org.everit.osgi.authorization.ri.tests.AuthorizationTest.e5f11687-fd12-4327-ab9d-b3fce3def16d"]
